<div class="center row justify-content-center">
	<div class="col-sm-12 col-md-8">
		<form action="" id="loginForm">
			<div class="form-group input-group">
				<span class="input-group-addon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
				<input [(ngModel)]="inputUsername" [ngClass]="{'has-danger': !available()}" (keyup.enter)="loginBtn()" class="form-control"
					type="text" name='username' placeholder="username" />
			</div>

			<div class="form-group input-group">
				<input [(ngModel)]="inputStatus" (keyup.enter)="loginBtn()" class="form-control" type="text" name='username' placeholder="status"
				/>
			</div>

			<div class="form-group input-group avatarSelect">
				<div class="col" *ngFor="let img of avatarImages">
					<input type="radio" name="avatar" [(ngModel)]="selectedAvatar" [id]="img" [value]="img" class="input_hidden" />
					<label for="img"><img [src]="'assets/avatars/'+img" class="img-fluid avatar" [ngClass]="{'selected' : selectedAvatar == img}"  (click)="selectedAvatar = img"/></label>
				</div>
			</div>

			<div class="form-group">
				<button type="button" class="btn btn-def btn-block" (click)="loginBtn()" [disabled]="!available()">Login</button>
			</div>
			<div class="form-group text-center">
				<a href="#"><i class="fa fa-github" aria-hidden="true"></i> View this project on GitHub</a>
			</div>
		</form>
	</div>
</div>