.videoImg {
  margin-right: -100px;
  z-index: 1000;
}

.videoUser {
  position: relative;
  display: inline-block;
  z-index: 1000;
}

.videoUser .avatar {
  margin:5px;
  position: absolute;
  bottom:0;
  right:0;
  z-index: 1000;
}

#video {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: auto;
  z-index: 1000;
}

.videoUser:hover, #video:hover {
  opacity: .5;
}

.expand {
  width: 100%;
}

.abs-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}