#currentUser .userdata{
  max-width: calc(100% - 120px);
  display: inline-block;
}

#currentUser .username, #currentUser .userstatus{

    white-space: nowrap;
    text-overflow: ellipsis;
    
    overflow: hidden;
}

#currentUser .avatar {
  vertical-align: initial;
}

#currentUser label {
  margin-bottom: 0;
}