<ul class="messages flex-grow">
  <span *ngIf="selectedChannel.id && messages[selectedChannel.id]" class="expand">
    <li *ngFor="let message of messages[selectedChannel.id]"
        class="message"
        [ngClass]="[
          isMine(message) ? 'right' : 'left',
          message.first? 'first' : ''
          ]"
    >
      <div class="avatar"></div>
      <div class="text_wrapper">
        <span class="user" *ngIf="message.first">{{message.author.name}}</span>
        <div class="text">
          {{message.text}}
        </div>
        <time>{{message.sentAt.toLocaleString()}}</time>
      </div>
    </li>
  </span>
</ul>
