<div class="input-group">
  <input id="btn-input"
    type="text"
    contenteditable=true
    class="form-control input-sm"
    (keyup.enter)="sendMsg()"
    [placeholder]="!selectedChannel.id ? 'First select a channel...' : 'Type your message here...'"
    autocomplete="off"
    [(ngModel)]="messageText"
    (keyup)="typing($event)"
    [disabled]="!selectedChannel.id"
  >
  <span class="input-group-btn">
    <input class="btn btn-warning btn-sm" type="submit" id="btn-chat" (click)='sendMsg()' (ngSubmit)="sendFile()"  [disabled]="!selectedChannel.id"
      value="Send"
    />
    </span>
    <span class="input-group-btn">
    <label class="btn btn-info btn-file btn-sm" id="btn-chat-upload" [ngClass]="{disabled: !selectedChannel.id}"><!--(click)='uploadFile()'-->
      <i class="fa fa-upload" aria-hidden="true"></i><input type="file" style="display: none;" #fileInput [disabled]="!selectedChannel.id" (change)="upload(file.files)">
    </label>
    <span *ngIf="Property" ></span>
  </span>
</div>