<div class="input-group">
  <input id="btn-input"
    type="text"
    contenteditable=true
    class="form-control input-sm"
    (keyup.enter)="sendMsg()"
    [placeholder]="!selectedChannel.id ? 'First select a channel...' : 'Type your message here...'"
    autocomplete="off"
    [(ngModel)]="messageText"
    (keyup)="typing($event)"
    [disabled]="!selectedChannel.id"
  >

    <label class="btn btn-info btn-file" id="btn-chat-upload" [ngClass]="{disabled: !selectedChannel.id}"><!--(click)='uploadFile()'-->
      <i class="fa fa-upload" aria-hidden="true"></i><input type="file" style="display: none;" #fileInput [disabled]="!selectedChannel.id" (change)="uploadFile($event)">
    </label>
    <button class="btn btn-danger" id="btn-video" (click)="videoActive ? stopVideo() : startVideo()" [disabled]="!selectedChannel.id">
      <i class="fa fa-video-camera" aria-hidden="true"></i>
    </button>


</div>