<div class="container-fluid" *ngIf="loggedIn">
	<div class="card-group">
		<div class="card col-md-4 flex-col">
			<user class="card-header"></user>
			<channels class="flex-grow"></channels>
			<channel-add class="card-footer"></channel-add>
		</div>

		<div class="card col-md-8 flex-col">
			<chat-status></chat-status>
			<chat-video></chat-video>
			<chat-messages id="scroll" class="card-block card-msg flex-grow"></chat-messages>
			<chat-input class="card-footer"></chat-input>
		</div>

	</div>
</div>

<div class="container" *ngIf="!loggedIn && ready">
	<login></login>
</div>

<div id="notif">
	{{notification}}
</div>